*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    width: 0px;
}
.yin-yang-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100000;
    background-color: whitesmoke;
}
.yin-yang-container .name{
    font-size: 15px;
    letter-spacing: 5px;
    font-style: italic;
    font-weight: 600;
    padding-left: 10px;
    font-family: arial;
    margin: 25px;
}
.yin-yang{
    box-sizing: content-box;
    width: 96px;
    height: 48px;
    background-color: white;
    border-color: black;
    position: relative;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    animation: spin 2s linear infinite;
}
.yin-yang::before{
    content: "";
    background-color: white;
    border: 18px solid black;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}
.yin-yang::after{
    content: "";
    background-color: black;
    border: 18px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}
@keyframes spin{
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.pt{
    padding-top: 3rem;
}
.main{
    font-size: 15px;
    font-family: monospace;
    background-color: rgb(39, 38, 38);
    color: white;
}
.main.white{
    background-color: whitesmoke;
    color: rgb(29, 27, 27);
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.main.white #header .header .navlist ul{
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px gray;
}
.main.white #header .header a{
    color: black;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
}
#header .header{
    min-height: 8vh;
}
#header .header a{
    color: white;
    text-align: center;
}
#header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .header .navlist ul{
    list-style: none;
    position: absolute;
    background-color: rgba(22, 21, 21, 0.993);
    width: 100vw;
    height: 100vh;
    right: -100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden ;
    transition: .5s ease-in-out;
}
#header .header .navlist ul.active{
    right: 0;
    transition: .5s ease-in-out;
}
#header .header .navlist ul a{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    margin-bottom:30px ;
}
.main.white #header .header .navlist ul a{
    color: black;
}
.light{
    cursor: pointer;
}
#header .header .navlist ul a:hover{
    border-bottom: 3px solid crimson;
    transition: .1s ease;
}
#header .burger.active .bar2, #header .burger.active .bar3{
    margin: 0;
    height: 1px;
    transition: 1s ease;
    transform: rotate(360deg);
    background-color: crimson;
}
#header .burger.active .bar3{
    transform: rotate(-360deg);
}
#header .burger.active .bar1{
    background-color: crimson;
}
#header .burger.active{
    border:4px solid crimson;
}
#header .burger{
    z-index: 100;
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 0px 0px;
    transform: scale(.7);
    margin-left: 82vw;
    background-color: rgb(29, 27, 27) ;
    cursor: pointer;
}
.main.white #header .burger{
    background-color: transparent;
    border: 4px solid crimson;
}
#header .burger .bar1{
    height: 3px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
.main.white #header .burger .bar1{
    background-color: crimson;
}
.main.white #header .burger .bar2{
    background-color: crimson;
}
.main.white #header .burger .bar3{
    background-color: crimson;
}
#header .burger .bar2{
    height: 3px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
    margin-top: 7px;
    transition: .3s ease;
}
#header .burger .bar3{
    height: 3px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
    margin-top: 7px;
    transition: .3s ease;
}

.main.white #hero{
    background-image: url(./images/99868.jpg);
}
.main.white #hero::after{
    opacity: .2;
}
#hero{
    background-image: url(./images/38161.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 40px;
    position: relative;
    color: transparent;
    animation: text_reveal 5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 3.3s;

}
#hero h1:nth-child(2){
    animation-delay: 4.0s;

}
#hero h1:nth-child(3){
    animation: text_reveal_theme .5s ease forwards; 
    animation-delay: 5.5s;

}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: 3.3s;
}
#hero h1:nth-child(2) span{
    animation-delay: 4s;
}
#hero h1:nth-child(3) span{
    animation-delay: 5s;
}
.cta{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(189, 12, 47);
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 40px;
    border-radius: 5px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

#services .services{
 flex-direction:column ;
 text-align: center;
 max-width: 1500px   ; 
 margin: 0 auto;
 padding: 100px 0;  
}
.sectiontitle{
    font-size: 40px;
    font-weight: 300;
    color:white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; 
}
.main.white .sectiontitle{
    color: rgb(29, 27, 27);
}
#services .servicetop p{
    font-size: 14px;
    margin-top: 5px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 1px;
}
#services .servicebottom{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
}
#services .servicebottom .serviceitem p{
    color: rgb(224, 216, 216);
    margin-top: 1rem;
}
#services .serviceitem{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/5529648.jpg);
    background-size: cover;
    margin: 10px 5%;
    color: white;
    position: relative;
    z-index: 1;
}
#services .serviceitem::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
    border-radius: 10px;
}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px; 
}
#projects .project-info{
    padding: 30px;
    padding-bottom: 20px;
    flex-basis: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgb(71, 69, 69),black);
    color: white;
}
#projects .project-info h1{
    font-size: 1.5rem;
    width: 100%;
    color: rgb(233, 233, 233);
    font-weight: 500;
}
#projects .project-info h2{
    font-size:2rem ;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;
    text-transform: capitalize;
}
#projects .project-info p{
    color: rgba(255, 255, 255, 0.842);
}
#projects .project-info .linkz{
    margin-top: 1.5rem;
}
#projects .project-info .linkz a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin-right: 1rem;
    transition: .2s ease;
}
#projects .project-info .linkz a:hover{
    color: rgb(209, 60, 90);
}
#projects .project-img {
    flex-basis: 50%;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 0px 0px 10px 10px;
}
#projects .project-img:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: 100%;
    background-color: black;
    opacity: .1;
    border-radius: 0px 0px 10px 10px; 
}
#projects .project-item .project-img:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    color: white;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 2rem;
}
.main.white #about .col-right .cta{
    color: rgb(29, 27, 27);
}
.main.white #about .col-right .cta:hover{
    color: whitesmoke;
}
#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid whitesmoke;
}
.main.white #about .col-left .about-img{
    border: 10px solid rgb(29, 27, 27);
}
#about .col-left .about-img::after{
    content: "";
    position: absolute;
    left: -33px;
    top: 35px;
    height: 98%;
    width: 98%;
    border-left: 7px solid crimson;
    border-bottom: 7px solid crimson;
    z-index: 1;
}
#about .col-left .about-img img{
    width: 100%;
    height: 100%;
}

#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
  width: 100%; 
  margin: 0 auto; 
}
#contact .contact-items .gmail{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main.white #contact .contact-items .gmail{
    color: black;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 5px 0 rgb(17, 17, 17);
    flex-direction: column  ;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 rgb(17, 17, 17);
    transition: .3s ease;
}
#contact .contact-item img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
}
#contact .icon{
    width: 70px;
    margin-bottom: 10px;
    margin-right: 40px;
}
#contact .contact-info h1{
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
}
#skills{
    padding: 0 2rem;
}
#skills .stack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
#skills .stack .box{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
#skills .stack .box:hover img{
    transform: scale(1.15);
    transition: .3s ease;
}
#skills .stack .box img{
    height: 85px;
    width: 85px;
    padding: 10px;
    transition: .3s ease;
}
#skills .stack .box h4{
    font-size: 16px;
    font-weight: 100;
}
#footer  .footer{
    background-image: linear-gradient(150deg, rgb(71, 69, 69),black);
    flex-direction: column ;
    padding-top: 50px;
    border-radius: 45px 0px 0px 0px;
}
.main.white #footer .footer{
    background-image: linear-gradient(150deg, rgb(126, 119, 119),whitesmoke);
}
#footer  .footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.main.white #footer .footer h2{
    color: rgb(29, 27, 27);
}
#footer .footer .brand h1{
    font-size: 2.2rem;
}
#footer  .footer p{
    text-align: center;
    background-image: linear-gradient(25deg, black,rgb(71, 69, 69));
    margin-top: 10px;
    padding: 10px;
}
.main.white #footer .footer p{
    background-image: linear-gradient(25deg, rgb(255, 238, 238),rgb(204, 197, 197));
}
#footer  .footer .social-item{
    width: 100%;
}
#footer  .footer .social-item a{
    color: crimson;
    justify-content: space-around;
    margin-left: 13%;
    font-size:1.3rem ;
    width: 100%;
}
#footer  .footer .social-item a:hover{
    color: white;
    transform: scale(1.1);
    transition: .3s ease;
}
.main.white #footer .footer .social-item a:hover{
    color: rgb(29, 27, 27);
}

.brand{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.main.white .brand{
    color: rgb(29, 27, 27);
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_theme{
    100%{
        color: crimson;
        font-weight: 500;
    }
}

@media only screen and (min-width:768px){
    #header .header .navlist ul.active{
        left: 30%;
        box-shadow: 0px 10px 35px 15px black;
        border-radius: 15px 0px 0px 15px;
    }
    #header .header .navlist ul a{
    margin-right: 250px;
    margin-top: 10px;
    font-size: 2rem;
    }
    #header .burger{
        margin: 0px 15px 0px 0px;
        transform: scale(.7);
        margin-left: 87vw;
    }
    #header .header .navlist ul{
        left: 100%;
        border-radius: 15px 0px 0px 15px;
    }
    #services .services{
        padding: 50px 0;  
       }
    #services .services .servicebottom .serviceitem{
        height: 320px;
    }
    #services .serviceitem h2{
        font-size: 40px;
        margin-bottom: 0px;
    }
    #services .serviceitem .icon{
        margin-bottom: 12px;
    }
    #projects .projects{
        padding: 50px 0;
    }
    #projects .projects .sectiontitle{
        margin-bottom: 9px;
    }
    #projects .projects .project-img{
        height: 250px;
    }
    #projects .projects .project-img::after{
        height: 250px;
    }
    #contact .contact-items{
        display: flex;
        width: 100%;
    }
    #contact .contact-item{
        width: 30%;
        margin: 15px;
        margin-bottom: 50px;
    }
    #contact .contact-info h2{
        font-size: 13px;
        font-weight: bolder;
    }
    #skills{
        padding: 0 8rem;
    }
}
@media only screen and (min-width:1000px){
    #hero{
        box-shadow: 0px 0px 20px 0px black;
    }
    #header{
        width: 100%;
    }
    #header .header .navbar{
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
    #header .burger{
        display: none;
    }
    #header .navbar .navlist ul{
        display: flex;
        flex-direction: row;
        left: 0;
        top: 0;
        height: 49px;
        box-shadow: none;
        border-radius: 0px 0px 0px 25px;
        background-color: rgba(26, 24, 24, 0.801);
        width: 100%;
    }
    #header .header .navlist ul a{
        font-size: 22px;
        margin: 0px;
        padding: 2px;
        width: 25px;
        justify-content: space-around;
    }
    #header .header .navlist ul.active{
        top: 0;
        right: 0;
        left: 0;
    }
    #header .header .navlist ul a:hover{
        color: crimson;
        border-bottom: none;
        font-weight: bolder;
        font-size: 23px;
    }
    #header .header .navlist ul li{
        justify-content: space-around;
        width: 100%;
        margin-left: 40px;
    }
    #services .servicebottom{
        flex-wrap: nowrap;
        height: 400px;
    }
    #services .servicebottom .serviceitem{
        height: 100%;
        padding: 10px;
        margin: 10px 20px;
        box-shadow: 1px 1px 4px 0px black;
    }
    #services .servicebottom .serviceitem p{
        color: rgba(255, 255, 255, 0.425);
    }
    #services .servicebottom .serviceitem p:hover{
        color: whitesmoke;
    }
    #projects .projects .all-projects .project-item{
        flex-direction: row;
        margin-bottom: 5px;
        box-shadow: 1px 1px 4px 0px black;
    }
    #projects .projects .all-projects .project-item:nth-child(2n){
        flex-direction: row-reverse;
    }
    #projects .project-info{
        height: 250px;
    }
    #projects .project-img{
        border-radius: 0px 10px 10px 0px;
    }
    #projects .project-img::after{
        border-radius: 0px 10px 10px 0px;
    }
    #contact .contact-item{
        justify-content: space-around;
        width: 350px;
        margin: 30px 50px;
    }
    #skills{
        padding: 0 15rem;
    }
    #skills .stack .box{
        margin: 20px;
    }
    #footer .social-icon .social-item a{
        margin-left: 20%;
    }
}
